<h1>プロフィール画面</h1>
<% if @study.exists? %>
  <% @study.each do |study| %>
    <%= column_chart Study.group(:study_date).sum(:study_time) %>
    <p>現在までの学習時間<%= study.study_time %></p>
    <p>日時<%= study.study_date %></p>
  <% end %>
<% end %>
<%= link_to 'トップページへ','/posts' %>