<%= react_component("timer",data: [{id: @user.id}]) %> 
<%# Reactコンポーネントの読み込み%>

<% if @user_study.exists? %>
  <% @user_study.each do |study| %>
    <%= study.study_time %>
    <%= study.study_date %>
  <% end %>
<% end %> 

<div class="return-top">
  <%= link_to 'トップページに戻る',"/posts" %>
</div>