body{
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
}

.content-wrapper {
  display: flex;
}

.profile-wrapper {
  width:25%;
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 1.0rem;
  padding-left: 3%;
}

.profile-image {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.post-wrapper{
  width: 78%;
  height: 100%;
  margin-left: auto;
}

.post-title{
  font-size: 1.8rem;
  text-align: center; 
}

.content-wrapper{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #000;
}

.content-text{
  font-size: 1.2rem;
  display: block;
  padding: 5% 0;
  text-align: center;
}

.content-new{
  font-size: 1.2rem;
}

.content-button{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.image-wrapper{
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

// show.html.erb //
.show-title{
  text-align: center;
}
.show-wrapper{
  width: 70%;
  margin: 0 auto;
}

.content-show-wrapper{
  width: 100%;
  display: flex;
  // border: 1px solid #000;
}

.remove-image{
  width: 40px;
  height: auto;
  padding-left: 40px;
}

.content-show-text{
  font-size: 1.2rem;
}